{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% assign maxLevel = 0 %}
    {% for category in skills.categories %}
    <h4>{{ category.title | capitalize }}</h4>
    {% for skill in category.toolset %}
    {% if {{ skill.level }} > maxLevel %}
    {% assign maxLevel = {{ skill.level }} %}
    {% endif %}
    {% endfor %}

    {% for skill in category.toolset %}
    <div class="item">

      <h4 class="level-title">{{ skill.name }}</h4>

      <div class="level-bar">
        {% assign scaledLevel = ({{ skill.level }} / maxLevel) * 100 %}
        <div class="level-bar-inner" data-level="{{ scaledLevel }}">
          </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
